.certifications {
  margin-top: 60px;
  text-align: center;
}

.certificationsTitle h2 {
  font-size: 2rem;
  color: rgb(243, 0, 69);
}

.certificationsItems {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}
