.sectionAboutMe {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
}

.education {
  width: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgb(35, 35, 35) 56%);
}

.containerEducation {
  max-width: 1280px;
  margin: auto;
  padding: 50px 20px;
  color: #f1f1f1;
}

.educationTitle {
  text-align: center;
  margin-bottom: 40px;
}

.educationTitle h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
}

.educationTitle h2 {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(243, 0, 69);
}
