.containerHeroSkills {
    max-width: 1280px;
    min-height: 60vh;
    width: 100%;
    margin: auto;
    padding: 50px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .containerHeroSkills {
        max-width: 576px;
        flex-direction: column-reverse;
    }
    .skills h1, .skills h2 {
        text-align: center;
    }
}

.skills {
    max-width: 400px;
    width: 100%;
}

.skills h1 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.skills h2 {
    color: rgb(255, 0, 72);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.skillsImg {
    max-width: 400px;
    width: 100%;
}
