/* Container do ícone */
.itemLanguages,
.itemLibraries,
.itemTools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 3px rgb(122, 122, 122);
  transition: 0.5s;
}

.itemLanguages:hover,
.itemLibraries:hover,
.itemTools:hover {
  background-color: rgb(255, 0, 72);
  transform: scale(1.1);
  box-shadow: 0px 0px 8px 3px rgb(255, 0, 72);
}

/* Ícone visual em si */
.iconLanguages,
.iconLibraries,
.iconTools {
  color: white;
  padding: 10px;
  font-size: 8rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
